<div>
  <h1>esquemas de aprobacion</h1>

  <div class="bg-white p-6 rounded-2xl w-full max-w-3xl mx-auto">
    <!-- Item -->
    <div *ngFor="let scheme of schemes(); let last = last">
      <div class="flex justify-between items-center py-4">
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <app-icon
              [ngStyle]="{'color': 'var(--grey-600)'}"
              class="text-gray-400"
              icon-start
              name="writing-sign"
              size="17" />
            <span
              [ngStyle]="{'color': 'var(--grey-600)'}"
              class="font-semibold text-gray-800 text-base"
              >{{scheme.name}}</span
            >
          </div>
          <div
            [ngStyle]="{'color': 'var(--green-500)'}"
            class="flex items-center gap-1 text-sm cursor-pointer hover:underline pl-3">
            <app-icon
              [ngStyle]="{'color': 'var(--green-500)'}"
              icon-start
              name="trash"
              size="15" />
            <span [ngStyle]="{'color': 'var(--green-500)'}">Eliminar</span>
          </div>
        </div>
        <app-icon
          [ngStyle]="{'color': 'var(--grey-900)'}"
          icon-start
          name="chevron-right"
          size="15" />
      </div>
      <div *ngIf="!last" class="border-t border-gray-300"></div>
    </div>
  </div>
</div>
