@if (canAccess(); as access) {
  <section>
    <div
      class="flex flex-col flex-1 w-full h-full overflow-hidden flex-grow min-h-screen">
      <div class="w-screen py-5 px-4 bg-[#424f57ff]">
        <p class="text-white">header</p>
      </div>
      <div class="w-full bg-[#576973ff] h-[80px] z-0">
        <div class="w-full pt-2 px-20">
          <ul class="flex space-x-10 text-sm">
            <li>
              <button
                class="text-white relative pb-2 hover:text-white cursor-pointer transition-all duration-300 group">
                Seguridad
                <span
                  class="absolute left-0 -bottom-0.5 h-0.5 w-full bg-white scale-x-0 group-hover:scale-x-100 transition-transform origin-left duration-300"></span>
              </button>
            </li>
            <li>
              <button
                class="text-white relative pb-2 hover:text-white cursor-pointer transition-all duration-300 group">
                Generales
                <span
                  class="absolute left-0 -bottom-0.5 h-0.5 w-full bg-white scale-x-0 group-hover:scale-x-100 transition-transform origin-left duration-300"></span>
              </button>
            </li>
            <li>
              <button
                class="text-white relative pb-2 hover:text-white cursor-pointer transition-all duration-300 group">
                Usuarios banca en línea
                <span
                  class="absolute left-0 -bottom-0.5 h-0.5 w-full bg-white scale-x-0 group-hover:scale-x-100 transition-transform origin-left duration-300"></span>
              </button>
            </li>
            <li>
              <button
                class="text-white relative pb-2 hover:text-white cursor-pointer transition-all duration-300 group">
                Backoffice
                <span
                  class="absolute left-0 -bottom-0.5 h-0.5 w-full bg-white scale-x-0 group-hover:scale-x-100 transition-transform origin-left duration-300"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <!-- container-roles -->
      <div
        class="mt-[-2.5rem] z-10 bg-[#f5f5f5ff] rounded-t-2xl h-full flex-1 flex-grow px-[10rem] py-5">
        <div class="breadcrumbs text-sm mb-5">
          <ul>
            <li><a>Usuarios banca en linea</a></li>
            <li class="font-semibold">Administración de roles</li>
          </ul>
        </div>
        <h1 class="text-lg font-semibold mb-5">
          Administración de roles Banca en Línea
        </h1>
        <!-- Filtro de búsqueda -->
        <div class="flex justify-between mb-5">
          <div class="flex-grow">
            <p class="text-sm font-semibold mb-2">Buscar</p>
            <div class="flex flex-row items-center space-x-2 gap-4">
              <label
                class="input w-100 flex items-center space-x-2 border p-2 rounded">
                <svg
                  class="h-[1em] opacity-50"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24">
                  <g
                    stroke-linejoin="round"
                    stroke-linecap="round"
                    stroke-width="2.5"
                    fill="none"
                    stroke="currentColor">
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="m21 21-4.3-4.3"></path>
                  </g>
                </svg>
                <input
                  type="search"
                  [formControl]="searchControl"
                  (keyup.enter)="onSearchEnter()"
                  placeholder="Rol"
                  class="outline-none" />
              </label>
              @if (searchControl.invalid && searchControl.touched) {
                <div class="text-red-500 text-sm mt-1">
                  El campo es obligatorio.
                </div>
              }
              <a
                href="javascript:void(0)"
                class="text-[#11b819ff] underline font-semibold text-sm"
                (click)="clearSearch()">
                Limpiar búsqueda
              </a>
            </div>
          </div>

          <button
            class="btn bg-[#11b819ff] rounded-lg text-white mt-auto px-4 py-2 cursor-pointer"
            (click)="openModal()">
            Crear rol
          </button>
        </div>
        <!-- Tabla -->
        @if (hasError()) {
          <div class="modal modal-open">
            <div class="modal-box">
              <h2 class="font-bold text-lg text-red-600">
                No pudimos consultar los roles
              </h2>
              <p class="py-4">Inténtalo más tarde</p>
              <div class="modal-action">
                <button class="btn btn-error" (click)="hasError.set(false)">
                  Entendido
                </button>
              </div>
            </div>
          </div>
        } @else {
          @if (isLoading()) {
            <div class="flex justify-center items-center py-8">
              <span class="loading loading-spinner text-primary"></span>
              <p class="ml-2">Cargando roles...</p>
            </div>
          } @else {
            @if (roles().length === 0) {
              <h2 class="text-center text-xl font-semibold mt-6">
                No hay roles registrados.
              </h2>
            } @else {
              <div class="overflow-x-auto mt-6">
                <table class="min-w-full text-left text-sm text-gray-700">
                  <thead
                    class="bg-[#e1e5e8ff] text-gray-800 rounded-lg overflow-hidden">
                    <tr>
                      <th class="px-4 py-3 w-1/12">
                        <div class="flex items-center justify-between">
                          Código
                          <i class="fa-solid fa-chevron-down text-xs ml-1"></i>
                        </div>
                      </th>
                      <th class="px-4 py-3 w-1/6">
                        <div class="flex items-center justify-between">
                          Nombre de rol
                          <i class="fa-solid fa-chevron-down text-xs ml-1"></i>
                        </div>
                      </th>
                      <th class="px-4 py-3 w-2/6">
                        <div class="flex items-center justify-between">
                          Descripción
                          <i class="fa-solid fa-chevron-down text-xs ml-1"></i>
                        </div>
                      </th>
                      <th class="px-4 py-3 w-1/12">
                        <div class="flex items-center justify-between">
                          Acciones
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (role of roles(); track role.id) {
                      <tr
                        class="odd:bg-white even:bg-[#f5f5f5ff] hover:bg-gray-50">
                        <td class="px-4 py-3">{{ role.code }}</td>
                        <td class="px-4 py-3">{{ role.name }}</td>
                        <td class="px-4 py-3 max-w-xs truncate">
                          {{ role.description }}
                        </td>
                        <td class="px-4 py-3">
                          <div class="flex space-x-3">
                            <button class="group relative">
                              <i class="fa-regular fa-eye"></i>
                              <span
                                class="absolute -top-7 left-1/2 -translate-x-1/2 scale-0 group-hover:scale-100 transition transform bg-gray-800 text-white text-xs px-2 py-1 rounded-md"
                                >Ver detalles</span
                              >
                            </button>
                            <button
                              class="group relative"
                              (click)="openModal()">
                              <i class="fa-solid fa-pen"> </i>
                              <span
                                class="absolute -top-7 left-1/2 -translate-x-1/2 scale-0 group-hover:scale-100 transition transform bg-gray-800 text-white text-xs px-2 py-1 rounded-md"
                                >Editar</span
                              >
                            </button>
                            <button class="group relative">
                              <i class="fa-regular fa-trash-can"></i>
                              <span
                                class="absolute -top-7 left-1/2 -translate-x-1/2 scale-0 group-hover:scale-100 transition transform bg-gray-800 text-white text-xs px-2 py-1 rounded-md"
                                >Eliminar</span
                              >
                            </button>
                          </div>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>

              <!-- Paginación con estilos DaisyUI -->
              <div class="flex justify-center items-center mt-6 space-x-4">
                <button
                  class="btn btn-outline btn-primary"
                  (click)="prevPage()"
                  [disabled]="currentPage() === 1">
                  Anterior
                </button>
                <span class="text-sm font-medium"> Página 1 </span>
                <button
                  class="btn btn-outline btn-primary"
                  (click)="nextPage()"
                  [disabled]="currentPage() * pageSize() >= totalRoles()">
                  Siguiente
                </button>
              </div>
            }
          }
        }
      </div>
    </div>
  </section>
} @else {
  <section class="access-denied">
    <h2>Acceso denegado</h2>
    <p>Por favor, inicia sesión para acceder a esta sección.</p>
  </section>
}
@if (showModal()) {
  <div
    class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <app-form-role-component [action]="'edit'" [roleId]="1" />
  </div>
}
