@if (canAccess(); as access) {
  <section>
    <div
      class="flex flex-col flex-1 w-full h-full overflow-hidden flex-grow min-h-screen">
      <div class="w-screen py-5 px-4 bg-[#424f57ff]">
        <p class="text-white">header</p>
      </div>
      <div class="w-full bg-[#576973ff] h-[80px] z-0">
        <div class="w-full pt-2 px-20">
          <ul class="flex space-x-10 text-sm">
            <li>
              <button
                class="text-white relative pb-2 hover:text-white cursor-pointer transition-all duration-300 group">
                Seguridad
                <span
                  class="absolute left-0 -bottom-0.5 h-0.5 w-full bg-white scale-x-0 group-hover:scale-x-100 transition-transform origin-left duration-300"></span>
              </button>
            </li>
            <li>
              <button
                class="text-white relative pb-2 hover:text-white cursor-pointer transition-all duration-300 group">
                Generales
                <span
                  class="absolute left-0 -bottom-0.5 h-0.5 w-full bg-white scale-x-0 group-hover:scale-x-100 transition-transform origin-left duration-300"></span>
              </button>
            </li>
            <li>
              <button
                class="text-white relative pb-2 hover:text-white cursor-pointer transition-all duration-300 group">
                Usuarios banca en línea
                <span
                  class="absolute left-0 -bottom-0.5 h-0.5 w-full bg-white scale-x-0 group-hover:scale-x-100 transition-transform origin-left duration-300"></span>
              </button>
            </li>
            <li>
              <button
                class="text-white relative pb-2 hover:text-white cursor-pointer transition-all duration-300 group">
                Backoffice
                <span
                  class="absolute left-0 -bottom-0.5 h-0.5 w-full bg-white scale-x-0 group-hover:scale-x-100 transition-transform origin-left duration-300"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <!-- container-roles -->
      <div
        class="mt-[-2.5rem] z-10 bg-[#f5f5f5ff] rounded-t-2xl h-full flex-1 flex-grow px-[10rem] py-5">
        <div class="text-sm mb-5">
          <app-breadcrumb [items]="itemsRolePage" />
        </div>
        <h1 class="text-lg font-semibold mb-5">
          Administración de roles Banca en Línea
        </h1>
        <!-- Filtro de búsqueda -->
        <div class="flex justify-between mb-5">
          <div class="flex-grow">
            <div class="flex flex-row space-x-2 gap-4">
              <app-input-text
                [label]="'Buscar'"
                [placeholder]="'Rol'"
                [formControl]="searchControl"
                (keyup.enter)="onSearchEnter()"
                [fieldType]="'text'" />
              <a
                href="javascript:void(0)"
                class="text-[#11b819ff] underline font-semibold text-sm mt-auto mb-5"
                (click)="clearSearch()">
                Limpiar búsqueda
              </a>
            </div>
          </div>
          <app-button
            type="button"
            label="Crear rol"
            [size]="'medium'"
            [ngClass]="'mt-auto'"
            [block]="true">
            <app-icon
              icon-start
              name="device-desktop"
              size="17"
              [strokeWidth]="2.5" />
          </app-button>
        </div>
        <!-- Tabla -->
        @if (hasError()) {
          <div class="modal modal-open">
            <div class="modal-box">
              <h2 class="font-bold text-lg text-red-600">
                No pudimos consultar los roles
              </h2>
              <p class="py-4">Inténtalo más tarde</p>
              <div class="modal-action">
                <button class="btn btn-error" (click)="hasError.set(false)">
                  Entendido
                </button>
              </div>
            </div>
          </div>
        } @else {
          @if (isLoading()) {
            <div class="flex justify-center items-center py-8">
              <span class="loading loading-spinner text-primary"></span>
              <p class="ml-2">Cargando roles...</p>
            </div>
          } @else {
            @if (roles().length === 0) {
              <h2 class="text-center text-xl font-semibold mt-6">
                No hay roles registrados.
              </h2>
            } @else {
              <div class="overflow-x-auto mt-6">
                <app-table-custom
                  [roles]="roles()"
                  [currentPage]="currentPage()"
                  [pageSize]="pageSize()"
                  [totalRoles]="totalRoles()"
                  (viewDetails)="onViewDetails($event)"
                  (editRole)="onEditRole($event)"
                  (deleteRole)="onDeleteRole($event)"
                  (prevPage)="prevPage()"
                  (nextPage)="nextPage()"
                  (pageChange)="onPageChange($event)"></app-table-custom>
              </div>
            }
          }
        }
      </div>
    </div>
  </section>
} @else {
  <section class="access-denied">
    <h2>Acceso denegado</h2>
    <p>Por favor, inicia sesión para acceder a esta sección.</p>
  </section>
}
@if (showModal()) {
  <div
    class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <app-form-role-component [action]="'create'" [roleId]="1" />
  </div>
}
