<div
  class="w-full max-w-4xl mx-auto bg-white rounded-2xl shadow-xl flex flex-col max-h-[90vh]">
  <!-- Contenedor con scroll -->
  <div class="p-6 space-y-6 overflow-y-auto">
    <form [formGroup]="myRoleForm" (ngSubmit)="onSave()">
      <h2 class="text-2xl mb-8 font-semibold text-gray-800 px-2">Nuevo rol</h2>

      <!-- Inputs -->
      <app-input-label
        [label]="'Nombre del rol'"
        [formGroup]="myRoleForm"
        [formControlName]="'name'"
        [placeholder]="'Ingrese el nombre del rol'"
        [value]="myRoleForm.get('name')?.value">
      </app-input-label>

      <app-input-label
        [label]="'Descripción del rol'"
        [formGroup]="myRoleForm"
        [formControlName]="'description'"
        [placeholder]="'Ingresa una descripción'"
        [value]="myRoleForm.get('description')?.value">
      </app-input-label>

      <label class="mt-8 mb-8">Asignación de permisos</label>

      <div
        class="grid grid-cols-1 md:grid-cols-2 gap-4 auto-rows-auto grid-flow-dense items-start">
        @for (permission of permissions(); track permission.id) {
          <div class="border p-4 rounded-xl shadow bg-white">
            <div
              class="bg-gray-100 flex justify-between items-center gap-4 mb-2 p-2">
              <h3 class="font-semibold text-lg">{{ permission.name }}</h3>
              <div class="flex items-center">
                <app-dinamy-toggle-or-check-box
                  type="toggle"
                  [label]="'Autorizar todo'"
                  [formGroup]="myRoleForm"
                  [checked]="areAllPermissionsSelected(permission)"
                  (change)="handleToggleAll(permission, $event)">
                </app-dinamy-toggle-or-check-box>
              </div>
            </div>
            @for (module of permission.moduleResponse; track module.id) {
              <div class="flex items-center space-x-2 py-1">
                <app-dinamy-toggle-or-check-box
                  type="checkbox"
                  [label]="module.name"
                  [formGroup]="myRoleForm"
                  [checked]="isPermissionSelected(module)"
                  (change)="handlePermissionToggle(module, $event)">
                </app-dinamy-toggle-or-check-box>
              </div>
            }
          </div>
        }
      </div>

      <div class="border-t p-4 flex justify-end bg-white">
        <button
          type="submit"
          class="bg-green-600 hover:bg-green-700 text-white px-6 py-2 rounded-lg">
          {{ isEditMode() ? 'Actualizar rol' : 'Crear rol' }}
        </button>
      </div>
    </form>
  </div>

  <!-- Botón fijo al fondo -->
</div>
